<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>RootFilter</filter-name>
        <filter-class>se.saljex.hemsida.RootFilter</filter-class>
    </filter>
    <filter>
        <filter-name>HttpsFilter</filter-name>
        <filter-class>se.saljex.hemsida.HttpsFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>se.saljex.hemsida.admin.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/Admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HttpsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RootFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>se.saljex.hemsida.MainListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>t1</servlet-name>
        <servlet-class>se.saljex.hemsida.t1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProduktServlet</servlet-name>
        <servlet-class>se.saljex.hemsida.ProduktServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KatalogServlet</servlet-name>
        <servlet-class>se.saljex.hemsida.KatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SokServlet</servlet-name>
        <servlet-class>se.saljex.hemsida.SokServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VarukorgServlet</servlet-name>
        <servlet-class>se.saljex.hemsida.VarukorgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>se.saljex.hemsida.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>se.saljex.hemsida.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServerServlet</servlet-name>
        <servlet-class>se.saljex.hemsida.ImageServerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageServlet</servlet-name>
        <servlet-class>se.saljex.hemsida.PageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPage</servlet-name>
        <servlet-class>se.saljex.hemsida.admin.EditPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SitemapServlet</servlet-name>
        <servlet-class>se.saljex.hemsida.SitemapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RobotsServlet</servlet-name>
        <servlet-class>se.saljex.hemsida.RobotsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>t1</servlet-name>
        <url-pattern>/t1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProduktServlet</servlet-name>
        <url-pattern>/produkt/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KatalogServlet</servlet-name>
        <url-pattern>/katalog/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SokServlet</servlet-name>
        <url-pattern>/sok</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VarukorgServlet</servlet-name>
        <url-pattern>/varukorg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServerServlet</servlet-name>
        <url-pattern>/p/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageServlet</servlet-name>
        <url-pattern>/s/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPage</servlet-name>
        <url-pattern>/Admin/EditPage/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SitemapServlet</servlet-name>
        <url-pattern>/sitemap.txt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RobotsServlet</servlet-name>
        <url-pattern>/robots.txt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
